@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  /*--font-mono: var(--font-geist-mono);*/
  --font-mono: var(--font-spline-sans-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  /*font-family: Arial, Helvetica, sans-serif;  */
}
